.item_timer_form {
  border: 1px solid grey;
  display: flex;
  justify-content: center;

  margin-top: 10px;
  padding: 10px 0;
}
.item_timer_form .content {
  width: 500px;
  height: 165px;
  /* margin-top: 10px; */

  border: 1px solid blue;
}
.item_timer_form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item_timer_form .field,
.field_button {
  display: flex;
  justify-content: center;
}
.item_timer_form .field input {
  /* border-radius: 3%; */
}
.item_timer_form .field_button {
  margin-top: 15px;
}
.item_timer_form input {
  width: 150px;
  height: 30px;
}
